*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 375px;
  margin: 0 auto;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1c2431;
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(/images/bg-curvy-mobile.svg), -webkit-gradient(linear, left top, left bottom, color-stop(58%, #1c2431), color-stop(50%, #181f2a));
  background: url(/images/bg-curvy-mobile.svg), linear-gradient(to bottom, #1c2431 58%, #181f2a 50%);
  background-repeat: no-repeat;
  background-position: center;
}

.intro .nav {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  position: absolute;
  top: 2rem;
}

.intro .nav__item:not(:last-child) {
  margin-right: 2rem;
}

.intro .logo {
  width: 8.5rem;
}

.intro .logo img {
  width: 100%;
  height: auto;
  display: block;
}

.intro__illustration {
  width: 80%;
  -webkit-transform: translateY(12%);
          transform: translateY(12%);
}

.intro__illustration img {
  width: 100%;
  height: auto;
  display: block;
}

.intro__heading {
  text-align: center;
}

.intro__heading--main {
  font-size: 2.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 6.5rem auto 1.5rem;
  padding: 0 2.3rem;
}

.intro__heading--sub {
  margin-bottom: 2.5rem;
  line-height: 1.6;
  padding: 0 4rem;
}

.main {
  padding: 0 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
}

.cta {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 1.5rem;
  border-radius: 3rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(-50%, #65e2d9), to(#339ecc));
  background: linear-gradient(to right, #65e2d9 -50%, #339ecc);
  background-position: right;
  background-size: 200% 100%;
  color: currentColor;
  letter-spacing: 0.5px;
  width: 55%;
  -webkit-transition: background-position 0.4s ease-out;
  transition: background-position 0.4s ease-out;
}

@media (hover: hover) {
  .cta:hover {
    background-position: left;
  }
}

.perks__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(33rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 7rem;
  text-align: center;
}

.perks__item {
  padding: 0 0.9rem;
}

.perks__icon {
  width: 7.5rem;
  margin: 0 auto;
}

.perks__icon img {
  width: 100%;
  height: auto;
  display: block;
}

.perks__title {
  font-size: 1.8rem;
  margin: 3rem 0 1.2rem;
}

.perks__description {
  line-height: 1.6;
}

.pledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: auto 1rem;
}

.pledge__illustration {
  width: 100%;
  margin-bottom: 5rem;
}

.pledge__illustration img {
  width: 100%;
  height: auto;
  display: block;
}

.pledge__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pledge__title {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.pledge__text {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.pledge__see-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  flex-direction: row;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid currentColor;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.pledge__see-more:link, .pledge__see-more:visited {
  color: #65e2d9;
  text-decoration: none;
}

@media (hover: hover) {
  .pledge__see-more:hover {
    color: white;
  }
  .pledge__see-more:hover .svg-bg {
    fill: currentColor;
  }
}

.pledge__see-more svg {
  margin-left: 0.75rem;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.testimonials__list {
  width: 90%;
}

.testimonials__list > *:not(:last-child) {
  margin-bottom: 2rem;
}

.testimonials__item {
  background-color: #202a3c;
  border-radius: 3px;
  padding: 2.5rem;
  -webkit-box-shadow: 0 0 0.6rem 0 rgba(255, 255, 255, 0.035);
          box-shadow: 0 0 0.6rem 0 rgba(255, 255, 255, 0.035);
}

.testimonials__msg {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.author {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 13% auto;
      grid-template-columns: 13% auto;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.author__img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.author__img img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.author__name {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.author__title {
  font-size: 1rem;
  font-weight: 400;
}

.bg-quotes {
  width: 2.5rem;
  height: auto;
  display: block;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.sign-up {
  background-color: #1c2431;
  border-radius: 1rem;
  padding: 3.5rem 2.5rem;
  text-align: center;
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.sign-up__heading {
  margin-bottom: 2rem;
}

.sign-up__text {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.sign-up__input,
.sign-up .cta {
  width: 100%;
}

.sign-up__input {
  font-family: inherit;
  border: none;
  outline: none;
  margin-bottom: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
}

.sign-up__input::-webkit-input-placeholder {
  color: rgba(28, 36, 49, 0.25);
}

.sign-up__input:-ms-input-placeholder {
  color: rgba(28, 36, 49, 0.25);
}

.sign-up__input::-ms-input-placeholder {
  color: rgba(28, 36, 49, 0.25);
}

.sign-up__input::placeholder {
  color: rgba(28, 36, 49, 0.25);
}
/*# sourceMappingURL=main.css.map */