*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  font-family: $font-default;
  color: $color-neutral-white;
  background-color: $color-primary-dark-blue-2;

  @include flexCenter;

  width: 375px;
  margin: 0 auto;
}
