.logo {
  width: 100%;

  img {
    @include imgDefault;
  }
}

// header
.intro {
  // border: 1px solid red;
  @include flexCenter;
  background-color: $color-primary-dark-blue-1;
  width: 100%;
  height: 100vh;
  // position: relative;

  background: url(/images/bg-curvy-mobile.svg),
    linear-gradient(
      to bottom,
      $color-primary-dark-blue-1 58%,
      $color-primary-dark-blue-2 50%
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include breakpoint(sm) {
    background: url(/images/bg-curvy-desktop.svg), $color-primary-dark-blue-1;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }

  .nav {
    font-size: 1.2rem;
    font-family: $font-highlight;
    justify-content: space-between;
    width: 85%;
    position: absolute;
    top: 2rem;

    &__item {
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }

  .logo {
    max-width: 8.5rem;
  }

  .intro-container {
    position: relative;
    width: 100%;
    text-align: center;

    @include breakpoint(sm) {
      max-width: $bp-sm;
    }
  }

  &__illustration {
    width: 80%;
    transform: translateY(12%);
    margin: 0 auto;

    @include breakpoint(sm) {
      // width: 100%;
    }

    img {
      @include imgDefault;
    }
  }

  &__heading {
    text-align: center;
    // letter-spacing: 0.5px;

    &--main {
      font-size: 2.5rem;
      font-family: $font-highlight;
      font-weight: 700;
      line-height: 1.4;
      margin: 6.5rem auto 1.5rem;
      padding: 0 2.3rem;
    }
    &--sub {
      margin-bottom: 2.5rem;
      line-height: 1.6;
      padding: 0 4rem;
    }
  }
}

// main
.main {
  padding: 0 2rem;
  position: relative;

  @include breakpoint(sm) {
    max-width: 90rem;
  }
}

// footer
.footer {
  background-color: $color-primary-dark-blue-3;
  padding: 23rem 2rem 2rem;

  .logo {
    max-width: 50%;
    margin-bottom: 3rem;
  }

  &__list {
    &--info {
      margin-bottom: 3rem;

      .footer__item {
        display: grid;
        grid-template-columns: 12% auto;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        img {
          transform: translateY(25%);
        }

        p {
          line-height: 1.6;
        }
      }
    }

    &--socials {
      @include flexCenter;
      flex-direction: row;
      margin: 8rem auto 2rem;

      .footer__item {
        @include flexCenter;
        width: 3.2rem;
        height: 3.2rem;
        font-size: 1.4rem;
        border: 1px solid currentColor;
        border-radius: 50%;
        margin: auto 0.75rem;
        cursor: pointer;
      }
    }
  }

  &__item {
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;

    &__list {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 3rem;
    }

    &__item {
      margin-top: 2rem;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
