.sign-up {
  background-color: $color-primary-dark-blue-1;
  border-radius: 1rem;
  padding: 3.5rem 2.5rem;
  text-align: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
  transform: translateY(50%);

  @include breakpoint(sm) {
    max-width: 80%;
    margin: 0 auto;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__text {
    color: $color-neutral-white-text;
    line-height: 1.6;
    margin-bottom: 2rem;
  }

  &__form {
    position: relative;

    @include breakpoint(md) {
      @include flexCenter;
      flex-direction: row;
    }
  }

  &__input,
  .cta {
    width: 100%;
  }

  .cta {
    @include breakpoint(md) {
      flex: 1.5;
    }
  }

  &__input {
    font-family: inherit;
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    margin-bottom: 3rem;
    position: relative;

    @include breakpoint(md) {
      margin-bottom: unset;
      flex: 3;
      margin-right: 2rem;
    }

    &::placeholder {
      color: rgba($color-primary-dark-blue-1, 0.25);
    }

    // for now, error always show when input is invalid
    // &:invalid + .error {
    //   opacity: 1;
    // }
  }
}

.error {
  opacity: 0;
  font-size: 1rem;
  color: $color-accent-light-red;
  position: absolute;
  left: 3rem;
  bottom: 50%;
  transform: translateY(25%);

  @include breakpoint(md) {
    bottom: 0;
    transform: translateY(125%);
  }
}
