// COLORS
$color-primary-dark-blue-1: hsl(217, 28%, 15%); // intro and email sign up bg
$color-primary-dark-blue-2: hsl(218, 28%, 13%); // main bg
$color-primary-dark-blue-3: hsl(216, 53%, 9%); // footer bg
$color-primary-dark-blue-4: hsl(219, 30%, 18%); // testimonials bg

$color-accent-cyan: hsl(176, 68%, 64%); // inside call-to-action gradient
$color-accent-blue: hsl(198, 60%, 50%); // inside call-to-action gradient
$color-accent-light-red: hsl(0, 100%, 63%); // error

$color-neutral-white: hsl(0, 0%, 100%);

// FONT
$font-default: 'Open Sans', sans-serif; // body
$font-highlight: 'Raleway', sans-serif; // headings, cta, header nav

// BREAKPOINTS
$bp-xs: 375px;
$bp-sm: 600px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
