.cta {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: $font-highlight;
  font-weight: 700;
  padding: 1.5rem;
  border-radius: 3rem;
  background: linear-gradient(
    to right,
    $color-accent-cyan -50%,
    $color-accent-blue
  );
  background-position: right;
  background-size: 200% 100%;
  color: currentColor;
  letter-spacing: 0.5px;
  width: 55%;
  transition: background-position 0.4s ease-out;

  &:hover {
    @media (hover: hover) {
      background-position: left;
    }
  }
}
