.nav {
  max-width: $bp-xl;

  @include flexCenter;
  flex-direction: row;

  &__list {
    @include flexCenter;
    flex-direction: row;
  }

  &__item {
    cursor: pointer;
    color: $color-neutral-white-text;

    &:hover {
      @media (hover: hover) {
        color: $color-neutral-white;
        text-decoration: underline;
      }
    }
  }
}
