.nav {
  max-width: $bp-xl;

  @include flexCenter;
  flex-direction: row;

  &__list {
    @include flexCenter;
    flex-direction: row;
  }

  &__item {
    cursor: pointer;
    color: $color-neutral-white-text;

    @include breakpoint(sm) {
      width: 8rem;
    }

    &:hover {
      @media (hover: hover) {
        font-weight: 700;
        color: $color-neutral-white;
        text-decoration: underline;
      }
    }
  }
}
